WebSocketWCFClient/Connected Services/WebSocketWCFServiceReference/WebSocketService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebSocketService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_IWebSocketService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WebServiceWCF/WebSocketWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WebServiceWCF/WebSocketWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebSocketService_SendData_InputMessage">
    <wsdl:part name="parameters" element="tns:SendData" />
  </wsdl:message>
  <wsdl:message name="IWebSocketService_SendData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWebSocketService_SendBackData_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendBackData" />
  </wsdl:message>
  <wsdl:portType name="IWebSocketService">
    <wsdl:operation name="SendData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebSocketService/SendData" message="tns:IWebSocketService_SendData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebSocketService/SendDataResponse" message="tns:IWebSocketService_SendData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBackData">
      <wsdl:output wsaw:Action="http://tempuri.org/IWebSocketService/SendBackData" message="tns:IWebSocketService_SendBackData_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpBinding_IWebSocketService" type="tns:IWebSocketService">
    <wsp:PolicyReference URI="#NetHttpBinding_IWebSocketService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <wsdl:operation name="SendData">
      <soap12:operation soapAction="http://tempuri.org/IWebSocketService/SendData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBackData">
      <soap12:operation soapAction="http://tempuri.org/IWebSocketService/SendBackData" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebSocketService">
    <wsdl:port name="NetHttpBinding_IWebSocketService" binding="tns:NetHttpBinding_IWebSocketService">
      <soap12:address location="ws://desktop-jal543d/WebServiceWCF/WebSocketWCFService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>ws://desktop-jal543d/WebServiceWCF/WebSocketWCFService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>